/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos do corpo do documento */
  body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    line-height: 1.5;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #36393f;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  

  
  /* Estilos da seção do catálogo */
  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
    display: none;
  }
  #catalog.show {
    display: flex;
  }
  .catalog.shifted {
    transform: translateY(-100%);
  }
  
  .item {
    background-color: #2f3136;
    border-radius: 50px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .item:hover {
    transform: translateY(-5px);
  }
  
  .item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  
  .item .countdown {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .item .info a {
    background-color: #7289da;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 100px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .item .info a:hover {
    background-color: #5a6b8d;
  }
  
  .item .additional-info {
    background-color: #36393f;
    color: #fff;
    padding: 6px;
    margin-top: 5px;
    text-align: center;
    border-radius: 100px;
    font-size: 14px;
  }
  
  .item .additional-info h4 {
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #36393f;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .updated-time {
    font-size: 12px;
  }
  .parallax-header {
    background-image: url('seu-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .parallax-header.hidden {
    opacity: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
  .parallax-text {
    text-align: center;
    color: #fff;
  }
  
  .parallax-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .parallax-text p {
    font-size: 18px;
  }
  
  .parallax-header::after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .parallax-header::before {
    content: "";
    background-image: url('seu-background-overlay.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    transform: scale(1.5);
  }
  
  .parallax-header::after,
  .parallax-header::before {
    transition: transform 0.4s ease-in-out;
  }
  
  .parallax-header:hover::after,
  .parallax-header:hover::before {
    transform: scale(1);
  }
  .item-name {
    color: #3498db;
  }
  .item .additional-info2 {
    background-color: #36393f;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 100px;
    font-size: 14px;
  }
  
  .item .additional-info2 h4 {
    font-weight: bold;
    margin-top: 10px;
  }




  .item .additional-info3 h4 {
    font-weight: bold;
    margin-top: 10px;
  }  .item .additional-info3 {
    background-color: #36393f;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 100px;
    font-size: 14px;
  }